@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.anek-latin {
  font-family: "Anek Latin", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.dm-sans {
  font-family: "DM Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.visible-bottom-to-top,
.visible-top-to-bottom,
.visible-left-to-right,
.visible-right-to-left {
  visibility: hidden;
}

.slide-bottom-to-top {
  animation-name: slideBottomToTop;
  -webkit-animation-name: slideBottomToTop;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}

.slide-top-to-bottom {
  animation-name: slideTopToBottom;
  -webkit-animation-name: slideTopToBottom;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}

.slide-left-to-right {
  animation-name: slideLeftToRight;
  -webkit-animation-name: slideLeftToRight;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}

.slide-right-to-left {
  animation-name: slideRightToLeft;
  -webkit-animation-name: slideRightToLeft;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}

@keyframes slideBottomToTop {
  0% {
    opacity: 0;
    transform: translateY(70%);
    -webkit-transform: translateY(70%);
    -moz-transform: translateY(70%);
    -ms-transform: translateY(70%);
    -o-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
  }
}
@keyframes slideTopToBottom {
  0% {
    opacity: 0;
    transform: translateY(-70%);
    -webkit-transform: translateY(-70%);
    -moz-transform: translateY(-70%);
    -ms-transform: translateY(-70%);
    -o-transform: translateY(-70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
  }
}
@keyframes slideLeftToRight {
  0% {
    opacity: 0;
    transform: translateX(-70%);
    -webkit-transform: translateX(-70%);
    -moz-transform: translateX(-70%);
    -ms-transform: translateX(-70%);
    -o-transform: translateX(-70%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}
@keyframes slideRightToLeft {
  0% {
    opacity: 0;
    transform: translateX(70%);
    -webkit-transform: translateX(70%);
    -moz-transform: translateX(70%);
    -ms-transform: translateX(70%);
    -o-transform: translateX(70%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}
.collapsible {
  cursor: pointer;
  padding: 30px 25px 10px 0;
  width: 100%;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  border-top: 1px solid #EAECF0;
  margin-top: 15px;
  position: relative;
}
.collapsible:after {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 2px solid #98A2B3;
  display: flex;
  justify-content: center;
  align-items: center;
  content: "+";
  color: #98A2B3;
  font-weight: bold;
  float: right;
  padding-bottom: 2px;
  position: absolute;
  top: 35px;
  right: 0;
}
.collapsible.active:after {
  content: "−";
}

.content-collapse {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.slick-next,
.slick-prev {
  width: 56px;
  height: 56px;
  font-size: 0;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.slick-next::before,
.slick-prev::before {
  content: "";
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(-45deg);
  position: absolute;
  top: 50%;
  left: calc(50% - 4px);
  transform: translate(-50%, -50%) rotate(-45deg);
}

.slick-prev {
  right: auto;
}

.SP {
  display: none !important;
}

.btn {
  min-width: 120px;
  height: 48px;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #1A2032;
  text-align: center;
  padding: 0 24px;
  background: #fff;
  border: 1px solid #1A2032;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
}
.btn:hover {
  box-shadow: -5px 3px 8px 0px rgba(0, 0, 0, 0.3);
  transform: translate(2px, -2px);
}
.btn.btn-gradient {
  color: #fff;
  background: linear-gradient(225.4deg, #F8A4D8 5.43%, #6C63FF 100%);
  border-radius: 8px;
  border: none;
}
.btn.btn-blue {
  color: #6C63FF;
  border-color: #6C63FF;
}
.btn.btn-white {
  color: #fff;
  border-color: #fff;
  padding: 0 14px;
  background: none;
}
.btn.btn-black {
  color: #fff;
  background: #1A2032;
  border-color: #1A2032;
  border-radius: 35px;
  height: 60px;
  font-size: 20px;
}
.btn.btn-violet {
  font-family: "Inter", sans-serif;
  background: #7F56D9;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border: none;
}

.text-linear-pink {
  background: linear-gradient(225.4deg, #f8a4d8 5.43%, #6c63ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@media (max-width: 768px) {
  .slick-next,
  .slick-prev {
    background: none;
  }
}
.header {
  width: 100%;
  padding: 28px 0;
  background: #fff;
  border-bottom: 1px solid #6C63FF;
  z-index: 999;
  transition: 0.4s ease-in-out;
}
.header.fixed {
  position: fixed;
  top: -200px;
  left: 0;
}
.header.active {
  top: 0;
  padding: 15px;
}
.header .left h1 {
  font-family: "Anek Latin";
  font-style: normal;
  font-weight: 600;
  margin-left: 17px;
  letter-spacing: -1px;
}
.header .burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.header .burger:hover span {
  width: 40px !important;
}
.header .burger span {
  display: block;
  width: 40px;
  height: 1px;
  background: #6C63FF;
  transition: 0.3s ease-in-out;
}
.header .burger span.line-1 {
  width: 50%;
  margin-left: auto;
}
.header .burger span.line-2 {
  margin: 8px 0;
}
.header .burger span.line-3 {
  width: 50%;
  margin-right: auto;
}
.header .menu-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9;
  width: 100%;
  height: 100vh;
  background: linear-gradient(310deg, #f8a4d8 5.43%, #6c63ff 100%);
  opacity: 0;
  transition: 0.4s ease-in-out;
  pointer-events: none;
}
.header .menu-fixed.active {
  z-index: 99;
  opacity: 1;
  pointer-events: inherit;
}
.header .menu-fixed .close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 40px;
  right: 20px;
  cursor: pointer;
}
.header .menu-fixed .close::before {
  display: inline-block;
  content: "×";
  color: #F5E663;
  font-size: 60px;
  font-weight: 100;
  line-height: 22px;
}
.header .menu-fixed .container {
  height: calc(100vh - 126px);
}
.header .menu-fixed .container .btn {
  width: 240px;
  height: 60px;
  border-radius: 30px;
}
.header .menu-fixed .container .btn-gradient {
  border: 1px solid #6c63ff;
}

@media (max-width: 768px) {
  .header {
    padding: 15px;
  }
  .header .burger {
    display: flex;
  }
}
#homepage .intro .slider-mobile .item {
  width: 864px !important;
  height: 480px;
  background: linear-gradient(225.4deg, #f8a4d8 5.43%, #6c63ff 100%);
  border-radius: 16px;
  display: flex !important;
  align-items: center;
  position: relative;
  padding-left: 50px;
  margin: auto;
}
#homepage .intro .slider-mobile .item.bg-pink {
  background: #f8a4d8;
}
#homepage .intro .slider-mobile .item.bg-blue {
  background: #6c63ff;
}
#homepage .intro .slider-mobile .item .content {
  max-width: 350px;
  color: #fff;
}
#homepage .intro .slider-mobile .item .content h3 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}
#homepage .intro .slider-mobile .item .content p {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 40px;
}
#homepage .intro .slider-mobile .item .img-mobile {
  width: 390px;
  position: absolute;
  bottom: 0;
  right: 54px;
}
#homepage .intro .slider-mobile .slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
#homepage .intro .slider-mobile .slick-dots li {
  width: 18px;
  height: 18px;
  background: #d9d9d9;
  border-radius: 15px;
  margin: 0 7px;
  cursor: pointer;
}
#homepage .intro .slider-mobile .slick-dots li.slick-active {
  background: #ac80ef;
}
#homepage .intro .slider-mobile .slick-dots li button {
  display: none;
}
#homepage .product .bg-pink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 60px 52px 82px;
  background: linear-gradient(225.4deg, #f8a4d8 5.43%, #6c63ff 100%);
  border-radius: 16px;
  margin-bottom: 17px;
}
#homepage .product .bg-black {
  width: calc(50% - 10px);
  height: 460px;
  background: #1a2032;
  border-radius: 16px;
}
#homepage .product .bg-black .btn {
  border-radius: 35px;
  height: 60px;
  font-size: 20px;
}
#homepage .user .cards .item {
  width: 90%;
  max-width: 986px;
  min-height: 378px;
  background: linear-gradient(225.4deg, #f8a4d8 5.43%, #6c63ff 100%);
  border-radius: 16px;
  padding: 55px 0px;
  margin: 0 auto 20px;
  transform-origin: 50% -160%;
  position: relative;
}
#homepage .user .cards .item.bg-1 {
  background: #1A2032;
}
#homepage .user .cards .item.bg-2 {
  background: #F8A4D8;
}
#homepage .user .cards .item.bg-3 {
  background: #6C63FF;
}
#homepage .user .cards .item .btn {
  height: 60px;
  font-size: 20px;
  border-radius: 30px;
  border: 1px solid #6c63ff;
}
#homepage .use .bg-black {
  width: 380px;
  height: 290px;
  background: #1a2032;
  border-radius: 16px;
}
#homepage .use .bg-black.bigger {
  width: calc(100% - 400px);
}
#homepage .use .bg-black .btn {
  height: 60px;
  font-size: 20px;
  border-radius: 30px;
}
#homepage .client-say {
  background: #f9f5ff;
  position: relative;
}
#homepage .client-say::before {
  content: "";
  width: 100%;
  height: 64px;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, #f9f5ff 0%, rgba(249, 245, 255, 0) 100%);
}
#homepage .client-say::after {
  content: "";
  width: 100%;
  height: 64px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(360deg, #f9f5ff 0%, rgba(249, 245, 255, 0) 100%);
}
#homepage .client-say .comments {
  height: 624px;
  overflow: hidden;
  position: relative;
}
#homepage .client-say .comments .item {
  max-width: 410px;
  background: #ffffff;
  border: 1px solid #e5eaee;
  padding: 24px;
  border-radius: 12px;
  margin-bottom: 30px;
}
#homepage .client-say .comments .item:last-child {
  margin-bottom: 0;
}
#homepage .client-say .comments .item .avatar {
  width: 56px;
  height: 56px;
  border-radius: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 10px;
}
#homepage .client-say .comments .anim-1 {
  animation: animate 40s -40s linear infinite;
}
#homepage .client-say .comments .anim-2 {
  animation: animate2 40s -20s linear infinite;
}
#homepage .client-say .comments .anim-3 {
  animation: animate3 40s -40s linear infinite;
}
#homepage .client-say .comments .anim-4 {
  animation: animate4 40s -20s linear infinite;
}
#homepage .price .item {
  width: calc(33.33% - 20px);
  padding: 24px;
  border: 1px solid #e5eaee;
  border-radius: 12px;
  padding-bottom: 113px;
  position: relative;
}
#homepage .price .item::before {
  content: "";
  width: calc(100% - 48px);
  height: 1px;
  background: #e5eaee;
  position: absolute;
  left: 24px;
  bottom: 96px;
}
#homepage .price .item.company {
  background: linear-gradient(0deg, #fffafd 0%, #ecebff 100%);
}
#homepage .price .item.company .btn.mb-4 {
  border: none;
}
#homepage .price .item.company .btn.btn-abs {
  border: 1px solid #1a2032;
}
#homepage .price .item .btn-abs {
  width: calc(100% - 48px);
  position: absolute;
  bottom: 24px;
  left: 24px;
}
#homepage .faq .answer .item:first-child .collapsible {
  border-top: none;
}
#homepage .take-action .container {
  background: linear-gradient(0deg, #9e7af1 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 32px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
#homepage .take-action .container::before {
  content: "";
  width: 484px;
  height: 484px;
  background: radial-gradient(50% 50% at 50% 50%, #f8a4d8 0%, rgba(248, 164, 216, 0) 100%);
  filter: blur(49.8px);
  position: absolute;
  right: -200px;
  top: 136px;
  z-index: -1;
}

@media (max-width: 1024px) {
  #homepage .intro .slider-mobile .item {
    width: 700px !important;
  }
  #homepage .intro .slider-mobile .item .content {
    max-width: 330px;
  }
  #homepage .intro .slider-mobile .item .img-mobile {
    width: 340px;
    right: 20px;
  }
  #homepage .product .bg-pink {
    flex-direction: column-reverse;
  }
  #homepage .product .bg-pink .text-white {
    margin-top: 2rem;
  }
}
@media (max-width: 768px) {
  #homepage .intro .slider-mobile .item {
    width: 90% !important;
    height: auto;
    flex-direction: column;
    padding: 20px 20px 0;
  }
  #homepage .intro .slider-mobile .item .content {
    margin-bottom: 30px;
  }
  #homepage .intro .slider-mobile .item .img-mobile {
    position: relative;
    bottom: 0;
    right: 0;
  }
  #homepage .intro .slider-mobile .slick-dots {
    margin-top: 50px;
  }
  #homepage .intro .slider-mobile .slick-dots li {
    width: 14px;
    height: 14px;
    margin: 0 5px;
  }
  #homepage .product .bg-pink {
    padding: 20px;
  }
  #homepage .product .bg-black {
    width: 100%;
    height: auto;
    padding: 50px 0;
    margin-bottom: 17px;
  }
  #homepage .use .bg-black {
    width: 100% !important;
    margin-bottom: 17px;
  }
  #homepage .client-say::before {
    content: none;
  }
  #homepage .client-say .comments::before {
    content: "";
    width: 100%;
    height: 64px;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, #f9f5ff 0%, rgba(249, 245, 255, 0) 100%);
    z-index: 1;
  }
  #homepage .price .item {
    width: 90%;
    margin: 0 auto 20px;
  }
}
@keyframes animate {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes animate2 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-200%);
  }
}
@keyframes animate3 {
  0% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-150%);
  }
}
@keyframes animate4 {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(-250%);
  }
}
#sign-up .left-side .input {
  width: 100%;
  height: 44px;
  padding: 10px 14px;
  background: #ffffff;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  margin-top: 5px;
}
#sign-up .left-side .btn {
  height: 44px;
  border: 1px solid #d0d5dd;
}
#sign-up .left-side .btn.btn-gradient {
  border: 1px solid #7f56d9;
}
#sign-up .right-side {
  background: linear-gradient(225.4deg, #f8a4d8 5.43%, #6c63ff 100%);
  border-radius: 20px;
}
#sign-up .right-side .slider-signup img {
  display: inline;
}
#sign-up .right-side .slick-dots {
  display: flex;
  justify-content: center;
}
#sign-up .right-side .slick-dots li {
  width: 10px;
  height: 10px;
  background: #9e77ed;
  border-radius: 15px;
  margin: 0 10px;
  cursor: pointer;
  border: 1px solid #fff;
}
#sign-up .right-side .slick-dots li.slick-active {
  background: #ffffff;
}
#sign-up .right-side .slick-dots li button {
  display: none;
}
#sign-up .right-side .slick-prev {
  top: unset;
  bottom: -23px;
  right: calc(50% + 110px);
  transform: scaleX(-1);
}
#sign-up .right-side .slick-next {
  top: unset;
  bottom: -23px;
  left: calc(50% + 110px);
  transform: none;
}

.bg-pattern {
  position: relative;
  overflow: hidden;
}
.bg-pattern::before {
  content: "";
  width: 768px;
  height: 768px;
  background: url("../image/forgot-password/background-pattern-decorative.svg") center bottom;
  position: absolute;
  top: -260px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

#forgot-password .btn.btn-gradient {
  height: 44px;
}

#email-verification .wrapper {
  width: 84px;
  height: 84px;
  background: url("../image/forgot-password/background-input-gradient.png") center/contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
#email-verification .wrapper .input-code {
  width: 81px;
  height: 81px;
  position: relative;
  top: -1px;
}
#email-verification .wrapper .input-code:focus {
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px rgba(158, 119, 237, 0.24);
  border-radius: 10px;
}

@media (max-width: 768px) {
  #email-verification .wrapper {
    width: 64px;
    height: 64px;
  }
  #email-verification .wrapper .input-code {
    width: 61px;
    height: 61px;
  }
}
.login .checkbox {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.login .checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}
.login .checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.login .checkbox input:checked ~ .checkmark {
  background-color: #6c63ff;
  border-color: #6c63ff;
}
.login .checkbox input:checked ~ .checkmark:after {
  display: block;
}
.login .checkbox .checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #d0d5dd;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login .checkbox .checkmark:after {
  content: "";
  display: none;
  width: 5px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  position: relative;
  bottom: 1px;
}

html,
body {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #1A2032;
}