@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin flexbox( $flex: flex, $align: null, $justify: null, $direction: null, $wrap: null, $order: null) {
    display: $flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
    flex-wrap: $wrap;
    order: $order;
}

@mixin flexCenter() {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin centerAbsolute($direction: "both") {
    position: absolute;
    @if $direcction=="both" {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
    }
    @if $direcction=="left" {
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }
    @if $direcction=="top" {
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
    }
}

@mixin position( $position, $top: null, $right: null, $bottom: null, $left: null) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin absolute($args...) {
    @include position(absolute, $args...);
}

@mixin relative($args...) {
    @include position(relative, $args...);
}

@mixin fixed($args...) {
    @include position(fixed, $args...);
}

@mixin toRem($size) {
    font-size: ($size / 16px) * 1rem;
}

@mixin minWidth($breakpoint) {
    @media only screen and (min-width: $breakpoint) {
        @content;
    }
}

@mixin maxnWidth($breakpoint) {
    @media only screen and (max-width: $breakpoint) {
        @content;
    }
}