// Color
$maize-yellow: #F5E663;
$black: #000000;
$white: #ffffff;
$blue: #47A8BD;
$charcoal-blue: #1D394B;
$moonstone-blue: #47A8BD;
$space-cadet-blue: #1D244B;

// Font weight
$thin: 100;
$extra-light: 200;
$light: 300;
$book: 400;
$regular: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;